<!DOCTYPE html>
<html lang="en">

<head>
    <title>HOTEL COLOMBIA</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Resort Inn Responsive , Smartphone Compatible web template , Samsung, LG, Sony Ericsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="{{ url_for('static', filename='assets1/css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ url_for('static', filename='assets1/css/font-awesome.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets1/css/chocolat.css')}}" type="text/css" media="screen">
    <link href="{{ url_for('static', filename='assets/css/easy-responsive-tabs.css')}}" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets1/css/flexslider.css')}}" type="text/css" media="screen" property="" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets1/css/jquery-ui.css')}}" />
    <link href="{{ url_for('static', filename='assets1/css/style.css')}}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="{{ url_for('static', filename='assets1/js/modernizr-2.6.2.min.js')}}"></script>
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Federo" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <!--//fonts-->
</head>

<body>
    <!-- header -->

    <div class="banner-top">

        <div class="clearfix"> </div>
    </div>
    <div class="w3_navigation">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                    <h1>
                        <a class="navbar-brand" href="/">HOTEL <span>COLOMBIA</span>
                            <p class="logo_w3l_agile_caption">Diseñamos el descanso </p>
                        </a>
                    </h1>
                </div>
                {% for message in get_flashed_messages() %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav class="menu menu--iris">
                        <ul class="nav navbar-nav menu__list">
                            <li class="menu__item menu__item--current">
                                <a href="" class="menu__link">Inicio</a>
                            </li>
                            <li class="menu__item"><a href="#about" class="menu__link scroll">Nosotros</a></li>
                            <li class="menu__item"><a href="#team" class="menu__link scroll">Grupo</a></li>

                            <li class="menu__item"><a href="#rooms" class="menu__link scroll">Habitaciones</a></li>
                            <li class="menu__item"><a href="#contact" class="menu__link scroll">Contactenos</a></li>
                        </ul>
                    </nav>
                </div>
            </nav>

        </div>
    </div>
    <!-- //header -->
    <!-- banner -->

    <div id="home" class="w3ls-banner">
        <!-- banner-text -->
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides callbacks callbacks1" id="slider4">
                    <li>
                        <div class="w3layouts-banner-top">

                            <div class="container">
                                <div class="agileits-banner-info">
                                    <h4>Maravíllate</h4>
                                    <h3>Sabemos lo que amas</h3>
                                    <p>BIENVENIDO A NUESTRO HOTEL</p>
                                    <div class="agileits_w3layouts_more menu__item">
                                        <a href="#contact" class="menu__link" data-toggle="modal" data-target="#myModal">Conoce más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3layouts-banner-top w3layouts-banner-top1">
                            <div class="container">
                                <div class="agileits-banner-info">
                                    <h4>Sueña</h4>
                                    <h3>Visitanos con tus amigos y familiares</h3>
                                    <p>Ven y disfruta un momento precioso con nosotros</p>
                                    <div class="agileits_w3layouts_more menu__item">
                                        <a href="#contact" class="menu__link" data-toggle="modal" data-target="#myModal">Conoce más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="w3layouts-banner-top w3layouts-banner-top2">
                            <div class="container">
                                <div class="agileits-banner-info">
                                    <h4></h4>
                                    <h3>QUIERES VACACIONES DE LUJO?</h3>
                                    <p>Consigue alojamiento hoy</p>
                                    <div class="agileits_w3layouts_more menu__item">
                                        <a href="#rooms" class="menu__link" data-toggle="modal" data-target="#myModal">Ver habitaciones</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <!--banner Slider starts Here-->
        </div>
        <div class="thim-click-to-bottom">
            <a href="#about" class="scroll">
                <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- //banner -->
    <!--//Header-->
    <!-- //Modal1 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <!-- Modal1 -->
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>helolo <span>hola </span></h4>
                    <img src="images/1.jpg" alt=" " class="img-responsive">
                    <h5>SABEMOS LO QUE AMAS</h5>
                    <p>Ofrecemos a los huéspedes vistas únicas y encantadoras desde sus habitaciones con sus comodidades excepcionales, hace que Star Hotel sea uno de los mejores en su tipo. Pruebe nuestro menú de comida, nuestros increíbles servicios y
                        nuestro amable personal mientras está aquí.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //Modal1 -->
    <div id="availability-agileits">
        <div class="col-md-12 book-form-left-w3layouts">
            <a href="admin">
                <h2>ADMINISTRAR RESERVAS</h2>
            </a>
        </div>

        <div class="clearfix"> </div>
    </div>
    <!-- banner-bottom -->
    <div class="banner-bottom">
        <div class="container">
            <div class="agileits_banner_bottom">
                <h3><span>VIVE UNA BUENA ESTADIA, DISFRUTA DE FANTÁSTICAS OFERTAS</span> ENCUENTRE NUESTRA ACOGEDORA RECEPCIÓN DE BIENVENIDA</h3>
            </div>
            <div class="w3ls_banner_bottom_grids">
                <ul class="cbp-ig-grid">
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_road"></span>
                            <h4 class="cbp-ig-title">DORMITORIOS PRINCIPALES</h4>
                            <span class="cbp-ig-category">HOTEL COLOMBIA</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_cube"></span>
                            <h4 class="cbp-ig-title">BALCÓN VISTA AL MAR</h4>
                            <span class="cbp-ig-category">HOTEL COLOMBIA</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_users"></span>
                            <h4 class="cbp-ig-title">CAFÉ GRANDE</h4>
                            <span class="cbp-ig-category">HOTEL COLOMBIA</span>
                        </div>
                    </li>
                    <li>
                        <div class="w3_grid_effect">
                            <span class="cbp-ig-icon w3_ticket"></span>
                            <h4 class="cbp-ig-title">COBERTURA WIFI</h4>
                            <span class="cbp-ig-category">HOTEL COLOMBIA</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //banner-bottom -->
    <!-- /about -->
    <div class="about-wthree" id="about">
        <div class="container">
            <div class="ab-w3l-spa">
                <h3 class="title-w3-agileits title-black-wthree">Acerca De Nuestro Hotel Colombia</h3>
                <p class="about-para-w3ls">Un lugar para que cuenta muchas historias y que sus usuarios sepan un poco más sobre nuestros productos y servicios.</p>
                <img src="{{ url_for('static', filename='assets1/images/about.jpg')}}" class="img-responsive" alt="Hair Salon">
                <div class="w3l-slider-img">
                    <img src="{{ url_for('static', filename='assets1/images/a1.jpg')}}" class="img-responsive" alt="Hair Salon">
                </div>
                <div class="w3ls-info-about">
                    <h4>¡Te encantarán todas las comodidades que ofrecemos!</h4>
                    <p>El descanso de tus sueños. </p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //about -->
    <!--sevices-->
    <div class="advantages">
        <div class="container">
            <div class="advantages-main">
                <h3 class="title-w3-agileits">Nuestros Servicios</h3>
                <div class="advantage-bottom">
                    <div class="col-md-6 advantage-grid left-w3ls wow bounceInLeft" data-wow-delay="0.3s">
                        <div class="advantage-block ">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                            <h4>¡Quédese Primero, Pague Después! </h4>
                            <p>Este servivio esta disponible, para las personas que anualmente, vacacionan con nosotros.</p>
                            <p><i class="fa fa-check" aria-hidden="true"></i>Habitación decorada, aire acondicionado adecuado.</p>
                            <p><i class="fa fa-check" aria-hidden="true"></i>Balcón privado</p>

                        </div>
                    </div>
                    <div class="col-md-6 advantage-grid right-w3ls wow zoomIn" data-wow-delay="0.3s">
                        <div class="advantage-block">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <h4>Restaurante 24 Horas</h4>
                            <p>Desde el mes de agosto el Hotel Colombia abrió su restaurante insignia Market Kitchen las 24 horas.</p>
                            <p><i class="fa fa-check" aria-hidden="true"></i>Servicio de habitaciones 24 horas</p>
                            <p><i class="fa fa-check" aria-hidden="true"></i>Servicio de conserjería las 24 horas</p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!--//sevices-->
    <!-- team -->
    <div class="team" id="team">
        <div class="container">
            <h3 class="title-w3-agileits title-black-wthree">Conozca A Nuestro Equipo</h3>
            <div id="horizontalTab">
                <ul class="resp-tabs-list">
                    <li class="columna">
                        <img src="{{ url_for('static', filename='assets1/images/team1.jpg')}}" alt=" " width="400" height="400" class="img-responsive" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //team -->
    <!-- rooms & rates -->
    <div class="plans-section" id="rooms">
        <div class="container">
            <h3 class="title-w3-agileits title-black-wthree">Habitaciones Y Tarifas</h3>
            <div class="priceing-table-main">
                <div class="col-md-3 price-grid">
                    <div class="price-block agile">
                        <div class="price-gd-top">
                            <img src="{{ url_for('static', filename='assets1/images/r1.jpg')}}" alt=" " class="img-responsive" />
                            <h4>Habitación superior</h4>
                        </div>
                        <div class="price-gd-bottom">
                            <div class="price-list">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>

                                </ul>
                            </div>
                            <div class="price-selet">
                                <h3><span>$</span>320</h3>
                                <a href="/reservation">Reservar ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 price-grid ">
                    <div class="price-block agile">
                        <div class="price-gd-top">
                            <img src="{{ url_for('static', filename='assets1/images/r2.jpg')}}" alt=" " class="img-responsive" />
                            <h4>Habitación de lujo</h4>
                        </div>
                        <div class="price-gd-bottom">
                            <div class="price-list">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="price-selet">
                                <h3><span>$</span>220</h3>
                                <a href="/reservation">Reservar ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 price-grid lost">
                    <div class="price-block agile">
                        <div class="price-gd-top">
                            <img src="{{ url_for('static', filename='assets1/images/r3.jpg')}}" alt=" " class="img-responsive" />
                            <h4>Casa de invitados</h4>
                        </div>
                        <div class="price-gd-bottom">
                            <div class="price-list">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="price-selet">
                                <h3><span>$</span>180</h3>
                                <a href="/reservation">Reservar ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 price-grid wthree lost">
                    <div class="price-block agile">
                        <div class="price-gd-top ">
                            <img src="{{ url_for('static', filename='assets1/images/r4.jpg')}}" alt=" " class="img-responsive" />
                            <h4>Hab individual</h4>
                        </div>
                        <div class="price-gd-bottom">
                            <div class="price-list">
                                <ul>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="price-selet">
                                <h3><span>$</span> 150</h3>
                                <a href="/reservation">Reservar ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--// rooms & rates -->
    <!-- contact -->
    <section class="contact-w3ls" id="contact">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
                <div class="contact-agileits">
                    <h4>Contactenos</h4>
                    <p class="contact-agile2">Inscribíte a nuestros boletines</p>

                    <form method="post" action="/contact" name="sentMessage" id="contactForm">
                        <div class="control-group form-group">

                            <label class="contact-p1">Nombre completo:</label>
                            <input type="text" class="form-control" name="name" id="name" required>
                            <p class="help-block"></p>

                        </div>
                        <div class="control-group form-group">

                            <label class="contact-p1">Número de teléfono:</label>
                            <input type="tel" class="form-control" name="phone" id="phone" required>
                            <p class="help-block"></p>

                        </div>
                        <div class="control-group form-group">

                            <label class="contact-p1">Dirección de correo electrónico:</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                            <p class="help-block"></p>

                        </div>
                        <input type="submit" name="sub" value="Enviar" class="btn btn-primary">
                    </form>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1" data-aos="flip-right">
                <h4>Conéctate con nosotros</h4>
                <p class="contact-agile1"><strong>Teléfono :</strong>+57 311 840 2164</p>
                <p class="contact-agile1"><strong>Correo electrónico :</strong> <a href="mailto:jmatoma@uninorte.edu.co">jmatoma@uninorte.edu.co</a></p>
                <p class="contact-agile1"><strong>Dirección :</strong> Villavicencio - Meta, Colombia</p>

                <div class="social-bnr-agileits footer-icons-agileinfo">
                    <ul class="social-icons3">
                        <li>
                            <a href="#" class="fa fa-facebook icon-border facebook"> </a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-twitter icon-border twitter"> </a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-google-plus icon-border googleplus"> </a>
                        </li>

                    </ul>

                    <div class="clearfix"></div>
                </div>
    </section>
    <!-- /contact -->
    <div class="copy">
        <p>© 2021 Hotel Colombia. All Rights Reserved | Design by <a href="index.php">Hotel Colombia</a> </p>
    </div>
    <!--/footer -->
    <!-- js -->
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery-2.1.4.min.js')}}"></script>
    <!-- contact form -->
    <script src="js/jqBootstrapValidation.js"></script>

    <!-- /contact form -->
    <!-- Calendar -->
    <script src="{{ url_for('static', filename='assets/js/jquery-ui.js')}}"></script>
    <script>
        $(function() {
            $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
        });
    </script>
    <!-- //Calendar -->
    <!-- gallery popup -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/swipebox.css')}}">
    <script src="js/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
        jQuery(function($) {
            $(".swipebox").swipebox();
        });
    </script>
    <!-- //gallery popup -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/move-top.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/easing.js')}}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- flexSlider -->
    <script defer src="js/jquery.flexslider.js"></script>
    <script type="text/javascript">
        $(window).load(function() {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function(slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //flexSlider -->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function() {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function() {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function() {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!--search-bar-->
    <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
    <!--//search-bar-->
    <!--tabs-->
    <script src="{{ url_for('static', filename='assets/js/easy-responsive-tabs.js')}}"></script>
    <script>
        $(document).ready(function() {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion           
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function(event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!--//tabs-->
    <!-- smooth scrolling -->
    <script type="text/javascript">
        $(document).ready(function() {
            /*
            	var defaults = {
            	containerID: 'toTop', // fading element id
            	containerHoverID: 'toTopHover', // fading element hover id
            	scrollSpeed: 1200,
            	easingType: 'linear' 
            	};
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>

    <div class="arr-w3ls">
        <a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </div>
    <!-- //smooth scrolling -->
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/bootstrap-3.1.1.min.js')}}"></script>
</body>

</html>