<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOTEL COLOMBIA</title>
    <!-- Bootstrap Styles-->
    <link href="{{ url_for('static', filename='assets/css/bootstrap.css')}}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{{ url_for('static', filename='assets/css/font-awesome.css')}}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{{ url_for('static', filename='assets/css/custom-styles.css')}}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="/"><i class="fa fa-home"></i> PÁGINA PRINCIPAL</a>
                    </li>

                </ul>

            </div>

        </nav>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            RESERVACIÓN <small></small>
                        </h1>
                    </div>
                </div>




                <div class="row">

                    <div class="col-md-5 col-sm-5">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                INFORMACIÓN PERSONAL
                            </div>
                            <div class="panel-body">
                                <form name="form" method="post" action="/reservation">
                                    <div class="form-group">
                                        <label>UBICACION ACTUAL*</label>
                                        <select name="title" class="form-control" required>
												<option value selected ></option>
                                                <option value="Dr.">MEDELLIN</option>
                                                <option value="Miss.">VILLAVICENCIO</option>
                                                <option value="Mr.">CARTAGENA</option>
                                                <option value="Mrs.">AMAZONAS</option>
												<option value="Prof.">PASTO</option>
												<option value="Rev .">CALI</option>
												<option value="Rev . Fr">OTROS</option>
                                            </select>
                                    </div>
                                    <div class="form-group">
                                        <label>PRIMER NOMBRE</label>
                                        <input name="fname" class="form-control" required>

                                    </div>
                                    <div class="form-group">
                                        <label>APELLIDO</label>
                                        <input name="lname" class="form-control" required>

                                    </div>
                                    <div class="form-group">
                                        <label>CORREO ELECTRONICO</label>
                                        <input name="email" type="email" class="form-control" required>

                                    </div>
                                    <div class="form-group">
                                        <label>NACIONALIDAD*</label>
                                        <label class="radio-inline">
                                                <input type="radio" name="nation"  value="Pakistani" checked="">COLOMBIA
                                            </label>
                                        <label class="radio-inline">
                                                <input type="radio" name="nation"  value="Non Pakistani ">OTROS
                                            </label>

                                    </div>

                                    <div class="form-group">
                                        <label>NUMERO TELEFONICO</label>
                                        <input name="phone" type="text" class="form-control" required>

                                    </div>

                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    INFORMACION DE RESERVA
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label>TIPO DE HABITACION *</label>
                                        <select name="troom" class="form-control" required>
												<option value selected ></option>
                                                <option value="Superior Room">HABITACION SUPERIOR</option>
                                                <option value="Deluxe Room">HABITACION DE LUJO</option>
												<option value="Guest House">CASA DE INVITADOS</option>
												<option value="Single Room">HABITACION INDIVIDUAL</option>
                                            </select>
                                    </div>
                                    <div class="form-group">
                                        <label>TIPO DE TENDIDO DE CAMA</label>
                                        <select name="bed" class="form-control" required>
												<option value selected ></option>
                                                <option value="Single">SOLTERO</option>
                                                <option value="Double">DOBLE</option>
												<option value="Triple">TRIPLE</option>
                                                <option value="Quad">PAÑO</option>
												<option value="None">NINGUNO</option>
                                                
                                             
                                            </select>
                                    </div>
                                    <div class="form-group">
                                        <label>NUMERO DE HABITACIONES *</label>
                                        <select name="nroom" class="form-control" required>
												<option value selected ></option>
                                                <option value="1">1</option>
                                               <option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
                                            </select>
                                    </div>



                                    <div class="form-group">
                                        <label>DESDE</label>
                                        <input name="cin" type="date" class="form-control">

                                    </div>
                                    <div class="form-group">
                                        <label>HASTA</label>
                                        <input name="cout" type="date" class="form-control">
                                    </div>

                                    <input type="submit" name="submit" value="Submit" class="btn btn-primary">
                                </div>

                            </div>
                        </div>


                        <div class="col-md-12 col-sm-12">
                            <div class="well">


                                </form>

                            </div>
                        </div>
                    </div>


                </div>



            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{{ url_for('static', filename='assets1/js/jquery-1.10.2.js')}}"></script>
    <!-- Bootstrap Js -->
    <script src="{{ url_for('static', filename='assets1/js/bootstrap.min.js')}}"></script>
    <!-- Metis Menu Js -->
    <script src="{{ url_for('static', filename='assets1/js/jquery.metisMenu.js')}}"></script>
    <!-- Custom Js -->
    <script src="{{ url_for('static', filename='assets1/js/custom-scripts.js')}}"></script>


</body>

</html>